<a href="https://colab.research.google.com/github/Johansitow/Challengue_Tiendas/blob/main/analiza_tiendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [30]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [31]:
# Bloque 2: Creación de 'valor_total'
try:
    tiendas['valor_total'] = tiendas['Precio'] + tiendas['Costo de envío']
    print("✅ Columna 'valor_total' creada correctamente")
except KeyError as e:
    print(f"❌ Columna no encontrada al crear valor_total: {e}")
except Exception as e:
    print(f"❌ Error creando 'valor_total': {e}")

✅ Columna 'valor_total' creada correctamente

In [32]:
# Bloque 3: Análisis de facturación por tienda
try:
    facturacion_por_tienda = (
        tiendas
        .groupby('tienda_id')['valor_total']
        .sum()
        .reset_index(name='facturacion_total')
    )
    print("🔍 Facturación por tienda:")
    print(facturacion_por_tienda)
except Exception as e:
    print(f"❌ Error en análisis de facturación por tienda: {e}")

🔍 Facturación por tienda:
  tienda_id  facturacion_total
0  tienda_1       1.212258e+09
1  tienda_2       1.175829e+09
2  tienda_3       1.156536e+09
3  tienda_4       1.093693e+09

# 2. Ventas por categoría

In [33]:
# Bloque 4: Ventas por categoría por tienda
try:
    ventas_por_categoria = (
        tiendas
        .groupby(['tienda_id', 'Categoría del Producto'])
        .size()
        .reset_index(name='ventas')
        .sort_values(['tienda_id', 'ventas'], ascending=[True, False])
    )
    print("\n🔍 Ventas por categoría y tienda:")
    print(ventas_por_categoria)
except Exception as e:
    print(f"❌ Error en ventas por categoría por tienda: {e}")

🔍 Ventas por categoría y tienda:
   tienda_id   Categoría del Producto  ventas
7   tienda_1                  Muebles     465
3   tienda_1             Electrónicos     448
5   tienda_1                 Juguetes     324
2   tienda_1        Electrodomésticos     312
1   tienda_1     Deportes y diversión     284
4   tienda_1   Instrumentos musicales     182
6   tienda_1                   Libros     173
0   tienda_1  Artículos para el hogar     171
15  tienda_2                  Muebles     442
11  tienda_2             Electrónicos     422
13  tienda_2                 Juguetes     313
10  tienda_2        Electrodomésticos     305
9   tienda_2     Deportes y diversión     275
12  tienda_2   Instrumentos musicales     224
14  tienda_2                   Libros     197
8   tienda_2  Artículos para el hogar     181
23  tienda_3                  Muebles     499
19  tienda_3             Electrónicos     451
21  tienda_3                 Juguetes     315
18  tienda_3        Electrodomésticos     278
17  tienda_3     Deportes y diversión     277
22  tienda_3                   Libros     185
16  tienda_3  Artículos para el hogar     177
20  tienda_3   Instrumentos musicales     177
31  tienda_4                  Muebles     480
27  tienda_4             Electrónicos     451
29  tienda_4                 Juguetes     338
25  tienda_4     Deportes y diversión     277
26  tienda_4        Electrodomésticos     254
24  tienda_4  Artículos para el hogar     201
30  tienda_4                   Libros     187
28  tienda_4   Instrumentos musicales     170

# 3. Calificación promedio de la tienda

In [34]:
# Bloque 5: Calificación promedio por tienda
try:
    calificacion_por_tienda = (
        tiendas
        .groupby('tienda_id')['Calificación']
        .mean()
        .reset_index(name='calificacion_promedio')
    )
    print("\n🔍 Calificación promedio por tienda:")
    print(calificacion_por_tienda)
except Exception as e:
    print(f"❌ Error en calificación promedio por tienda: {e}")

🔍 Calificación promedio por tienda:
  tienda_id  calificacion_promedio
0  tienda_1               3.976685
1  tienda_2               4.037304
2  tienda_3               4.048326
3  tienda_4               3.995759

# 4. Productos más y menos vendidos

In [35]:
# Bloque 6: Productos más y menos vendidos por tienda
try:
    mas_menos = []
    for tid, df in tiendas.groupby('tienda_id'):
        ventas_prod = df.groupby('Producto').size()
        mas = ventas_prod.idxmax()
        menos = ventas_prod.idxmin()
        mas_menos.append({'tienda_id': tid,
                          'mas_vendido': mas,
                          'ventas_mas': int(ventas_prod.max()),
                          'menos_vendido': menos,
                          'ventas_menos': int(ventas_prod.min())})
    resumen_prod = pd.DataFrame(mas_menos)
    print("\n🔍 Productos más y menos vendidos por tienda:")
    print(resumen_prod)
except Exception as e:
    print(f"❌ Error en productos más/menos vendidos por tienda: {e}")

🔍 Productos más y menos vendidos por tienda:
  tienda_id                mas_vendido  ventas_mas              menos_vendido  \
0  tienda_1                    Armario          60  Auriculares con micrófono
1  tienda_2  Iniciando en programación          65              Juego de mesa
2  tienda_3              Kit de bancas          57    Bloques de construcción
3  tienda_4                   Cama box          62         Guitarra eléctrica

   ventas_menos
0            33
1            32
2            35
3            33

# 5. Envío promedio por tienda

In [36]:
# Bloque 7: Envío promedio por tienda
try:
    envio_promedio = (
        tiendas
        .groupby('tienda_id')['Costo de envío']
        .mean()
        .reset_index(name='envio_promedio')
    )
    print("\n🔍 Envío promedio por tienda:")
    print(envio_promedio)
except Exception as e:
    print(f"❌ Error en envío promedio por tienda: {e}")

🔍 Envío promedio por tienda:
  tienda_id  envio_promedio
0  tienda_1    26018.609580
1  tienda_2    25216.235693
2  tienda_3    24805.680373
3  tienda_4    23459.457167

In [37]:
# Relatorio para el Señor Juan
try:
    # Identificar tienda con menor facturación (lucro)
    tienda_menor = facturacion_por_tienda.loc[
        facturacion_por_tienda['facturacion_total'].idxmin(), 'tienda_id'
    ]
    valor_min = facturacion_por_tienda['facturacion_total'].min()

    reporte = f"""
Señor Juan,

Tras el análisis realizado:

1. La tienda con menor facturación total es {tienda_menor} con ${valor_min:,.2f}.
2. Se recomienda evaluar la venta o reestructuración de esta tienda para optimizar su rentabilidad.
"""
    print(reporte)
except Exception as e:
    print(f"❌ Error generando el relatorio: {e}")

Señor Juan,

Tras el análisis realizado:

1. La tienda con menor facturación total es tienda_4 con $1,093,693,100.00.
2. Se recomienda evaluar la venta o reestructuración de esta tienda para optimizar su rentabilidad.