<a href="https://colab.research.google.com/github/Johansitow/Challengue_Tiendas/blob/main/analiza_tiendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importaci√≥n de datos

In [30]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

#1. An√°lisis de facturaci√≥n

In [31]:
# Bloque 2: Creaci√≥n de 'valor_total'
try:
    tiendas['valor_total'] = tiendas['Precio'] + tiendas['Costo de env√≠o']
    print("‚úÖ Columna 'valor_total' creada correctamente")
except KeyError as e:
    print(f"‚ùå Columna no encontrada al crear valor_total: {e}")
except Exception as e:
    print(f"‚ùå Error creando 'valor_total': {e}")

‚úÖ Columna 'valor_total' creada correctamente

In [32]:
# Bloque 3: An√°lisis de facturaci√≥n por tienda
try:
    facturacion_por_tienda = (
        tiendas
        .groupby('tienda_id')['valor_total']
        .sum()
        .reset_index(name='facturacion_total')
    )
    print("üîç Facturaci√≥n por tienda:")
    print(facturacion_por_tienda)
except Exception as e:
    print(f"‚ùå Error en an√°lisis de facturaci√≥n por tienda: {e}")

üîç Facturaci√≥n por tienda:
  tienda_id  facturacion_total
0  tienda_1       1.212258e+09
1  tienda_2       1.175829e+09
2  tienda_3       1.156536e+09
3  tienda_4       1.093693e+09

# 2. Ventas por categor√≠a

In [33]:
# Bloque 4: Ventas por categor√≠a por tienda
try:
    ventas_por_categoria = (
        tiendas
        .groupby(['tienda_id', 'Categor√≠a del Producto'])
        .size()
        .reset_index(name='ventas')
        .sort_values(['tienda_id', 'ventas'], ascending=[True, False])
    )
    print("\nüîç Ventas por categor√≠a y tienda:")
    print(ventas_por_categoria)
except Exception as e:
    print(f"‚ùå Error en ventas por categor√≠a por tienda: {e}")

üîç Ventas por categor√≠a y tienda:
   tienda_id   Categor√≠a del Producto  ventas
7   tienda_1                  Muebles     465
3   tienda_1             Electr√≥nicos     448
5   tienda_1                 Juguetes     324
2   tienda_1        Electrodom√©sticos     312
1   tienda_1     Deportes y diversi√≥n     284
4   tienda_1   Instrumentos musicales     182
6   tienda_1                   Libros     173
0   tienda_1  Art√≠culos para el hogar     171
15  tienda_2                  Muebles     442
11  tienda_2             Electr√≥nicos     422
13  tienda_2                 Juguetes     313
10  tienda_2        Electrodom√©sticos     305
9   tienda_2     Deportes y diversi√≥n     275
12  tienda_2   Instrumentos musicales     224
14  tienda_2                   Libros     197
8   tienda_2  Art√≠culos para el hogar     181
23  tienda_3                  Muebles     499
19  tienda_3             Electr√≥nicos     451
21  tienda_3                 Juguetes     315
18  tienda_3        Electrodom√©sticos     278
17  tienda_3     Deportes y diversi√≥n     277
22  tienda_3                   Libros     185
16  tienda_3  Art√≠culos para el hogar     177
20  tienda_3   Instrumentos musicales     177
31  tienda_4                  Muebles     480
27  tienda_4             Electr√≥nicos     451
29  tienda_4                 Juguetes     338
25  tienda_4     Deportes y diversi√≥n     277
26  tienda_4        Electrodom√©sticos     254
24  tienda_4  Art√≠culos para el hogar     201
30  tienda_4                   Libros     187
28  tienda_4   Instrumentos musicales     170

# 3. Calificaci√≥n promedio de la tienda

In [34]:
# Bloque 5: Calificaci√≥n promedio por tienda
try:
    calificacion_por_tienda = (
        tiendas
        .groupby('tienda_id')['Calificaci√≥n']
        .mean()
        .reset_index(name='calificacion_promedio')
    )
    print("\nüîç Calificaci√≥n promedio por tienda:")
    print(calificacion_por_tienda)
except Exception as e:
    print(f"‚ùå Error en calificaci√≥n promedio por tienda: {e}")

üîç Calificaci√≥n promedio por tienda:
  tienda_id  calificacion_promedio
0  tienda_1               3.976685
1  tienda_2               4.037304
2  tienda_3               4.048326
3  tienda_4               3.995759

# 4. Productos m√°s y menos vendidos

In [35]:
# Bloque 6: Productos m√°s y menos vendidos por tienda
try:
    mas_menos = []
    for tid, df in tiendas.groupby('tienda_id'):
        ventas_prod = df.groupby('Producto').size()
        mas = ventas_prod.idxmax()
        menos = ventas_prod.idxmin()
        mas_menos.append({'tienda_id': tid,
                          'mas_vendido': mas,
                          'ventas_mas': int(ventas_prod.max()),
                          'menos_vendido': menos,
                          'ventas_menos': int(ventas_prod.min())})
    resumen_prod = pd.DataFrame(mas_menos)
    print("\nüîç Productos m√°s y menos vendidos por tienda:")
    print(resumen_prod)
except Exception as e:
    print(f"‚ùå Error en productos m√°s/menos vendidos por tienda: {e}")

üîç Productos m√°s y menos vendidos por tienda:
  tienda_id                mas_vendido  ventas_mas              menos_vendido  \
0  tienda_1                    Armario          60  Auriculares con micr√≥fono
1  tienda_2  Iniciando en programaci√≥n          65              Juego de mesa
2  tienda_3              Kit de bancas          57    Bloques de construcci√≥n
3  tienda_4                   Cama box          62         Guitarra el√©ctrica

   ventas_menos
0            33
1            32
2            35
3            33

# 5. Env√≠o promedio por tienda

In [36]:
# Bloque 7: Env√≠o promedio por tienda
try:
    envio_promedio = (
        tiendas
        .groupby('tienda_id')['Costo de env√≠o']
        .mean()
        .reset_index(name='envio_promedio')
    )
    print("\nüîç Env√≠o promedio por tienda:")
    print(envio_promedio)
except Exception as e:
    print(f"‚ùå Error en env√≠o promedio por tienda: {e}")

üîç Env√≠o promedio por tienda:
  tienda_id  envio_promedio
0  tienda_1    26018.609580
1  tienda_2    25216.235693
2  tienda_3    24805.680373
3  tienda_4    23459.457167

In [37]:
# Relatorio para el Se√±or Juan
try:
    # Identificar tienda con menor facturaci√≥n (lucro)
    tienda_menor = facturacion_por_tienda.loc[
        facturacion_por_tienda['facturacion_total'].idxmin(), 'tienda_id'
    ]
    valor_min = facturacion_por_tienda['facturacion_total'].min()

    reporte = f"""
Se√±or Juan,

Tras el an√°lisis realizado:

1. La tienda con menor facturaci√≥n total es {tienda_menor} con ${valor_min:,.2f}.
2. Se recomienda evaluar la venta o reestructuraci√≥n de esta tienda para optimizar su rentabilidad.
"""
    print(reporte)
except Exception as e:
    print(f"‚ùå Error generando el relatorio: {e}")

Se√±or Juan,

Tras el an√°lisis realizado:

1. La tienda con menor facturaci√≥n total es tienda_4 con $1,093,693,100.00.
2. Se recomienda evaluar la venta o reestructuraci√≥n de esta tienda para optimizar su rentabilidad.